<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
<listeners>
<listener class-name="ai.ds.utilities.ListnerSetup"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="ai.ds.testLayer.LoginPageTest"/>
      <class name="ai.ds.testLayer.VerifyByFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
